!writable/cache/.htaccess
!writable/cache/index.html
!writable/logs/.htaccess
!writable/logs/index.html
!writable/session/.htaccess
!writable/session/index.html
!writable/uploads/.htaccess
!writable/uploads/index.html
.env
vendor/
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*
